body {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-top: 60px;
}
.panel  {
    margin-bottom: 10px;
}


.pa
.bd {background-image:url('images/index_bg.png');
    width: 1000px;
    height: 1000px;
     background-repeat:no-repeat}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
}
 
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 1080px;
    max-height: 500px;
}
input.form-control-search {
    width: 300px;
}

textarea.form-control-small {
    height: 100px;
    width: 100%;
}
textarea.form-control-medium {
    height: 355px;
    width: 100%;
} 
textarea.form-control {
    height: 1080px;
}
.navbar {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 6px;
    -webkit-box-shadow: 0 0 5px 2px #ccc;
    box-shadow: 0 0 5px 2px #ccc;
}
 
    .navbar .logo {
        margin-right: 15px;
    }
 
.push-top-down-sm {
    margin-top: 1.5em;
}
 
.home-list-item {
    margin-top: 0em;
    margin-bottom: 0em;
    padding-bottom: 0em;
    border-bottom: 1px solid #eee;
}
 
.offline-ui {
    z-index: 100000;
}
 
#sync-container {
    position: fixed;
    bottom: 25px;
    width: 350px;
    left: 15px;
    z-index: 10000;
}
 body {
}
