@{
    ViewBag.Title = "New Journal Item";
}


@section scripts {
    <script src="~/Scripts/app/controllers/viewController.js"></script>
}

<div class="container" data-ng-controller="viewController">

        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 ng-bind-html="item.Title" class="panel-title"/>

                        <a class="panel-title">{{item.Title}}</a>
                </div>
                <div class="panel-body">

                    <p>
                        on {{item.modifiedDate}}
                    </p>
                    <!--
                    <button class="btn btn-link" data-ng-click="delete($index)">Delete</button>
                    <a data-ng-href="/items/edit/{{item.ItemId}}" class="btn btn-default">Edit</a>
                    -->
                    <p ng-bind-html="item.Contents">{{item.Contents}}</p>
                </div>
            </div>
        </div>


</div>